*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(85, 119, 108);
}
h1{
    text-align: center;
    margin: 50px;
    text-decoration-line: underline;
    color: rgb(30, 173, 209);
    text-shadow: 5px 6px 4px rgb(9, 3, 3);
}
.row{
    width: 100%;
    height: 400px;
    background-color: rgb(110, 110, 116);
}
.col{
    width: 200px;
    height: 350px;
    background-color: white;
    float: left;
    margin: 15px;
    padding: 20px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}
